.heroes {
    .list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 24px;
        width: 100%;
        &__item {
            width: 240px;
            min-height: 244px;
            background: #FFFFFF;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
            border-radius: 4px;
            cursor: pointer;
            transition: 0.2s ease transform;
            &:hover {
                transform: translateY(5px);
            }
        }

        &__text {
            padding: 12px 16px;
        }
        &__title {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.15px;
            color: rgba(0, 0, 0, 0.87);
        }
        &__subtitle {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.25px;
            color: rgba(0, 0, 0, 0.6);
        }
    }
}